<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
    <title>Hello, world!</title>
    <style>
    .red-color{
      color:red;
    }
    .grey-color{
      color: #ccc;
    }
    </style>
  </head>
  <body>
    {% include 'base/navbar.html' %}
    <div class='container'>
        {% block content %}
        {% endblock %}
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
    {% block script %}{% endblock script %}
    <script> 
    // auto search ka function
    $(document).ready(function(){
      var typingTimer;
      var doneinterval=500; // in miliseconds
      var searchInput=$("#navbar-search-form input[type=text]")
      var searchQuery;
      searchInput.keyup(function(event){
        searchQuery= $(this).val()

        clearTimeout(typingTimer)
        typingTimer=setTimeout(doneSearchTyping, doneinterval)
      })
      searchInput.keydown(function(event){
        // console.log(event.key)
        clearTimeout(typingTimer)
      })
      function doneSearchTyping(){
        if(searchQuery){
          //dosearch
          var url = '/tweet/search/?q='+searchQuery
          document.location.href=url;
        }
      }
    })
    </script>
  </body>
</html>